@font-face {
  font-family: JuliaMono;
  src: url('/static/fonts/JuliaMono-Regular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: JuliaMono;
  src: url('/static/fonts/JuliaMono-Medium.woff2');
  font-weight: medium;
}

@font-face {
  font-family: JuliaMono;
  src: url('/static/fonts/JuliaMono-Bold.woff2');
  font-weight: bold;
}

@font-face {
  font-family: JuliaMono;
  src: url('/static/fonts/JuliaMono-Light.woff2');
  font-weight: Light;
}
