// Special
$background: #1d1d1c;
$foreground: #cac5bc;
$cursor: #cac5bc;

// Colors
$color0: #1d1d1c;
$color1: #7B7264;
$color2: #856D5B;
$color3: #8A7967;
$color4: #978976;
$color5: #A3907A;
$color6: #8A7482;
$color7: #cac5bc;
$color8: #8d8983;
$color9: #7B7264;
$color10: #856D5B;
$color11: #8A7967;
$color12: #978976;
$color13: #A3907A;
$color14: #8A7482;
$color15: #cac5bc;
